---
title: "Cosi119a [Alerts]"
---
This page will contain important notices and information which will be added from time to time to this web site. I will also remind you of these via email or posts in the student/teacher forum on Latte.

1. **<a href="https://campus-rover.gitbook.io/lab-notebook/infrastructure/ros_melodic">Lab Notebook with ROS install instructions</a> - Instructions on installing ROS Melodic onto your SSD once you can boot.**
1. **<%= link_to_topic :homework %> - Notes about homeworks and submissions**
1. **<%= link_to_topic :cosi119a_grading %> - Notes about grading for this course**
1. **<%= link_to_topic :git %> - GIT primer and 5 most important commands**
1. **<%= link_to_topic :lab_rules %> - Rules for using the lab**
1. **<%= link_to_topic :key_papers %> - List of some of the most relevant papers I've found.**
1. **<%= link_to_topic :cosi119a_prework %> - Important pre-work that is absolutely expected before day one of class**




